.img_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

.escudoArgentina-img {
  padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255);
}
